<div class="container" style="margin: 80px auto">
    <div class="row">
        <div class="col-6 offset-3">
            <h4>Modificar una nueva Novedad</h4>
            <form action="/admin/novedades/modificar" method="post" enctype="multipart/form-data">
                <input type="hidden" value="{{novedad.id}}" name="id">
                <div class="mb-3">
                    <p>
                        <label>Imagen: <input type="file" name="imagen" id="imagen" /></label>
                    </p>
                    <p>
                        <label><input type="checkbox" name="img_delete" id="img_delete" value="1"> Eliminar imagen actual?</label>
                    </p>
                    <p>
                        <input type="hidden" name="img_original" value="{{novedad.img_id}}">
                    </p>
                </div>
                <div class="mb-3">
                    <h6>Titulo</h6>
                    <input type="text" class="form-control" value="{{novedad.titulo}}" placeholder="Titulo" name="titulo">
                </div>
                <div class="mb-3">
                    <h6>Subtitulo</h6>
                    <textarea type="text" class="form-control" placeholder="Subtitulo" name="subtitulo">{{novedad.subtitulo}}</textarea>
                </div>
                <div class="mb-3">
                    <h6>Cuerpo</h6>
                    <textarea type="text" class="form-control" placeholder="Cuerpo" name="cuerpo">{{novedad.cuerpo}}</textarea>
                </div>
                <div class="row">
                    <div class="col text-left">
                        <button type="submit" class="btn btn-primary">Modificar</button>
                    </div>
                    <div class="col text-end">
                        <a href="../../novedades"><button type="button" class="btn btn-primary">Volver</button></a>
                    </div>
                </div>
            </form>
        </div>
    </div>
    {{#if error}}
        <h5>{{message}}</h5>
    {{/if}}
</div>